@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4 pt-3">
    <div class="row">
        <div class="col-12 col-md-6 col-xl-3">
            <div class="card mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Sarah</h5>
                    <p class="card-text"> Influencer Insights were a game-changer, helping me identify the right influencers for my brand and saving me hours of research, resulting in a significant boost in revenue.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
            <div class="card mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">James</h5>
                    <p class="card-text">Influencer Insights provided services that were invaluable for my business, allowing me to partner with the most effective influencers and significantly increasing my productivity and profits.</p>
            </div>
        </div>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
        <div class="card mb-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Emma</h5>
                    <p class="card-text">Influencer Insights provided by this service not only saved me time but also pinpointed opportunities for cost-effective influencer collaborations, ultimately driving up efficiency and profits.</p>
        </div>
    </div>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
    <div class="card mb-3" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Michael</h5>
                    <p class="card-text">Using Influencer Insights, I saw a remarkable improvement in influencer marketing results and an increase in customer engagement, translating into tangible financial gains for my company.</p>
    </div>
</div>
        </div>
    </div>
</div>
